@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
    background-color: transparent;
  
  
    height: 70px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #logo {
    margin: auto;
  }
  
  #logo img {
    height: 25px;
    width: 197px;
  }
  
  #main-nav {
    width: 100%;
    height: 100%;
  }
  
  .nav-item {
    list-style-type: none;
    font-family: "Oswald";
    font-weight: 400;
    border-bottom: 1px solid rgba(46, 60, 84, 0);
    font-size: 20px;
    transition: 0.2s;
    margin: 0px 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .nav-item:hover {
    color: white;
    cursor: pointer;
  }
  
  .nav-item-3 {
    list-style-type: none;
    font-family: "Oswald";
    font-weight: 400;
    border-bottom: 1px solid rgba(46, 60, 84, 0);
    font-size: 20px;
    transition: 0.2s;
    margin: 0px 20px;
    color: rgba(7, 7, 7, 0.5);
  }
  
  .nav-item-3:hover {
    color: #0a0a0a;
    cursor: pointer;
  }
  
  .nav-burger {
    display: none;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
  }
  
  .nav-burger img {
    fill: white;
    width: 100%;
  }
  
  #main-nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none
  }
  
  
  
  @media (max-width: 820px) {
    header {
      justify-content: center;
    }
  
    .nav-burger {
      display: block;
    }
  
    li.nav-item {
        margin: 6px 12px;
    }
  
    li.nav-item-3 {
      margin: 6px 12px;
  }
  
    #main-nav {
      position: fixed;
      inset: 0;
      background-color: #00000033;
      z-index: 1000;
      transition: opacity .3s ease-out .3s;
    }
  
    .options-menu {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: white;
      width: fit-content;
    }
  
    #main-nav ul {
      padding: 15px;
      display: block;
      transition: transform .3s ease-out;
    }
  
    #main-nav li {
      color: black;
      padding: 10px 20px;
      border-bottom: 1px solid black;
    }
  
    #main-nav li:last-child {
      border-bottom: none;
    }
  
    .hidden {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }
    
    .hidden .options-menu {
        transform: translateX(-100%);
    }
  
  
  
  }

  #carrito {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f500;
    border-radius: 5px;
  }
  
  #lista-carrito {
    width: 100%;
    border-collapse: collapse;
  }
  
  #lista-carrito th,
  #lista-carrito td {
    padding: 10px;
    text-align: left;
  }
  
  #lista-carrito th {
    font-weight: bold;
  }
  
  #carrito-body tr:nth-child(even) {
    background-color: #f9f9f900;
  }
  
  #vaciar-carrito {
    display: block;
    width: 100px;
    margin-top: 10px;
    padding: 8px 12px;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #vaciar-carrito:hover {
    background-color: #cc0000;
  }

  #carrito.hidden {
    display: none;
  }